<button class="{{ modifier_class }}">
    <span>Button{% if modifier_class %}.{{ modifier_class }}{% endif %}</span>
</button>
<a class="btn {{ modifier_class }}">
    <span>a.btn{% if modifier_class %}.{{ modifier_class }}{% endif %}</span>
</a>
<a class="button {{ modifier_class }}">
    <span>a.button{% if modifier_class %}.{{ modifier_class }}{% endif %}</span>
</a>