<ul class="{{ modifier_class }}">
    {% for i in 1..4 %}
         <li>
             List item number {{ i }}

                {% if i == 2 %}
                <ul>
                    {% for y in 1..3 %}
                        <li>
                                List sub item number {{ y }}
                        </li>
                    {% endfor %}
                </ul>
        {% endif %}
         </li>
    {% endfor %}
</ul>

<ol class="{{ modifier_class }}">
    {% for i in 1..4 %}
        <li>List item number {{ i }}</li>
    {% endfor %}
</ol>